fail_fast: false
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
      - id: terraform_validate
        exclude: '^[^/]+$'
      - id: terraform_tflint
        args:
          - "--args=--config=__GIT_WORKING_DIR__/.tflint.hcl"
          - "--args=--disable-rule=terraform_standard_module_structure"
      - id: terraform_checkov
        args:
          - --args=--quiet
          - --args=--skip-framework=cloudformation

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: shellcheck

  - repo: https://github.com/cisagov/pre-commit-packer
    rev: v0.3.1
    hooks:
      - id: packer_fmt

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: trailing-whitespace
        exclude_types: [svg]
        args:
          - --markdown-linebreak-ext=md
      - id: check-yaml
      - id: pretty-format-json
        args:
          - --autofix
          - --no-sort-keys
      - id: check-added-large-files
        args: ["--maxkb=4096"]
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: no-commit-to-branch
        args: ["--branch", "master", "--branch", "main"]

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shfmt
        args: ["-l", "-i", "2", "-ci", "-sr", "-w"]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
