---
name: auto-terraform-apply-03-aws-github-actions-oidc

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * 0"

jobs:
  tf-apply:
    runs-on: ubuntu-latest
    name: 03-aws-github-actions-oidc - apply approved terraform plan
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: master

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          role-session-name: GithubActionsTerraform
          aws-region: eu-west-1

      - name: Terraform apply
        uses: dflook/terraform-apply@246b817d35a57d998b824b632db06d3aa3051413 # v1
        with:
          path: examples/03-aws-github-actions-oidc
          auto_approve: true

      # TODO: maybe we can try to 'docker push' here to the ECR repo as an example that the OIDC works
