---
name: auto-terraform-apply-03-aws-github-actions-oidc

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * 0"

jobs:
  tf-apply:
    runs-on: ubuntu-latest
    name: 03-aws-github-actions-oidc - apply approved terraform plan
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: master

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          role-session-name: GithubActionsTerraform
          aws-region: eu-west-1

      - name: Terraform apply
        uses: dflook/terraform-apply@5489b988934a50bf1489d5b7c5253b46520a7dca # v2
        with:
          path: examples/03-aws-github-actions-oidc
          auto_approve: true

      # TODO: maybe we can try to 'docker push' here to the ECR repo as an example that the OIDC works
