---
name: scheduled-scale-out

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  workflow_dispatch:
  schedule:
    # Scale up non-production resources on Monday morning (06:00 UTC)
    - cron: "0 6 * * 1"

jobs:
  tf-apply:
    runs-on: ubuntu-latest
    name: Scale out - restore non-prod resources
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@3d3c42e5aac5ba805825da76410c181273ba90b1 # v7.0.1
        with:
          ref: master

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@cbe3b392738ccf3f987d68400dafcf4b0624a56c # v6.2.4
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          role-session-name: GithubActionsTerraform
          aws-region: eu-west-1

      - name: Terraform apply - scale out Aurora readers
        uses: dflook/terraform-apply@b7d589e72b3b2594f445627b351241d5c7dc78b6 # v3
        with:
          path: examples/05-aws-complete
          auto_approve: true
          target: |
            module.db.aws_appautoscaling_target.this
          variables: |
            db_min_replica_count=2
