---
name: terraform-prepare

permissions: read-all

on:
  pull_request:
    branches:
      - "master"

jobs:
  tf-fmt:
    runs-on: ubuntu-latest
    name: Check terraform file format
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Terraform fmt
        uses: dflook/terraform-fmt-check@59168426e242f665bf7b70644d706224e665056a # v2
        with:
          path: /
