---
name: terraform-prepare

permissions: read-all

on:
  pull_request:
    branches:
      - "master"

jobs:
  tf-fmt:
    runs-on: ubuntu-latest
    name: Check terraform file format
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Terraform fmt
        uses: dflook/terraform-fmt-check@f854603776e9bcfa4f33eb780eba8accda1e83c1 # v1
        with:
          path: /
