---
name: terraform-apply-06-minimal-aws-terraform-bootstrap

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  push:
    branches:
      - "master"
    paths:
      - "examples/06-minimal-aws-terraform-bootstrap/**"
      - ".github/workflows/**"

jobs:
  tf-apply:
    runs-on: ubuntu-latest
    name: 06-minimal-aws-terraform-bootstrap - apply approved terraform plan
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: master

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          role-session-name: GithubActionsTerraform
          aws-region: eu-west-1

      - name: Terraform apply
        uses: dflook/terraform-apply@5489b988934a50bf1489d5b7c5253b46520a7dca # v2
        with:
          path: examples/06-minimal-aws-terraform-bootstrap

      - name: Terraform destroy
        uses: dflook/terraform-destroy@b198834c4a4dd959f26649f2a9d24c59e9c9f205 # v2
        with:
          path: examples/06-minimal-aws-terraform-bootstrap
