---
name: terraform-apply-06-minimal-aws-terraform-bootstrap

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  push:
    branches:
      - "master"
    paths:
      - "examples/06-minimal-aws-terraform-bootstrap/**"
      - ".github/workflows/**"

jobs:
  tf-apply:
    runs-on: ubuntu-latest
    name: 06-minimal-aws-terraform-bootstrap - apply approved terraform plan
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: master

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          role-session-name: GithubActionsTerraform
          aws-region: eu-west-1

      - name: Terraform apply
        uses: dflook/terraform-apply@246b817d35a57d998b824b632db06d3aa3051413 # v1
        with:
          path: examples/06-minimal-aws-terraform-bootstrap

      - name: Terraform destroy
        uses: dflook/terraform-destroy@main
        with:
          path: examples/06-minimal-aws-terraform-bootstrap
