---
name: terraform-apply-04-aws-wireguard-vpn

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  push:
    branches:
      - "master"
    paths:
      - "examples/04-aws-wireguard-vpn/**"
      - "modules/wireguard-ec2/**"
      - ".github/workflows/**04.yaml"

jobs:
  tf-apply:
    runs-on: ubuntu-latest
    name: 04-aws-wireguard-vpn - apply approved terraform plan
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: master

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          role-session-name: GithubActionsTerraform
          aws-region: eu-west-1

      - name: Terraform apply
        uses: dflook/terraform-apply@5489b988934a50bf1489d5b7c5253b46520a7dca # v2
        with:
          path: examples/04-aws-wireguard-vpn
