---
name: terraform-plan-02-minimal-gcp-tf-bootstrap

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "master"
    paths:
      - "examples/02-minimal-gcp-tf-bootstrap/**"
      - "modules/**"
      - ".github/workflows/**02.yaml"

jobs:
  tf-plan:
    runs-on: ubuntu-latest
    name: 02-minimal-gcp-tf-bootstrap - terraform plan
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@c200f3691d83b41bf9bbd8638997a462592937ed' # v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: 'github-actions@pipetail-terraform.iam.gserviceaccount.com'

      - name: Terraform plan
        uses: dflook/terraform-plan@7878bff63e2099cdc9be9a6f33cbbbf687f8f0fe # v2
        with:
          path: examples/02-minimal-gcp-tf-bootstrap
