---
name: terraform-plan-06-minimal-aws-terraform-bootstrap

permissions:
  id-token: write      # for fetching the OIDC token
  contents: read       # for actions/checkout
  pull-requests: write # For dflook comments on PR

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "master"
    paths:
      - "examples/06-minimal-aws-terraform-bootstrap/**"
      - ".github/workflows/**"

jobs:
  tf-plan:
    runs-on: ubuntu-latest
    name: 06-minimal-aws-terraform-bootstrap - terraform plan
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          role-session-name: GithubActionsTerraform
          aws-region: eu-west-1

      - name: Terraform plan
        uses: dflook/terraform-plan@7878bff63e2099cdc9be9a6f33cbbbf687f8f0fe # v2
        with:
          path: examples/06-minimal-aws-terraform-bootstrap
